* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: system-ui
}

.container {
    padding: 19px 70px;
}

.nav {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 999;
    line-height: 65px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 69px;
}

.nav .menu a {
    list-style: none;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-family: initial;
    font-weight: 100;
    padding: 9px 15px;
}

ul.menu {
    display: inline-flex;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 29px;
}

header a:hover,
.menu li a:hover {
    color: brown;
}

section.banner {
    background: linear-gradient(rgb(25 24 24 / 52%), rgb(35 34 34 / 90%)), url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
}
.nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
   }
  
.nav.active a {
    color: #000;
  }
  
