*{
    box-sizing: border-box;
}

body {
    background-color: #8943a9;
    display: flex;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-frame {
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    margin: 30px 60px;
}
i {
    font-size: 40px;
}
span{
    font-size: 20px;
}
.frame{
    font-size: 60px;
    margin-top: 13px;
}